* @DataDog/ruby-guild

# Public Documentation
docs/Compatibility.md @DataDog/documentation
docs/GettingStarted.md @DataDog/documentation

# Library
lib/datadog/ai_guard/ @DataDog/asm-ruby
lib/datadog/ai_guard.rb @DataDog/asm-ruby
lib/datadog/appsec/ @DataDog/asm-ruby
lib/datadog/appsec.rb @DataDog/asm-ruby
lib/datadog/tracing/ @DataDog/apm-idm-ruby @DataDog/apm-sdk-capabilities-ruby
lib/datadog/tracing.rb @DataDog/apm-idm-ruby @DataDog/apm-sdk-capabilities-ruby
lib/datadog/opentelemetry/ @DataDog/apm-sdk-capabilities-ruby
lib/datadog/opentelemetry.rb @DataDog/apm-sdk-capabilities-ruby
lib-injection/ @DataDog/lang-platform-ruby
lib/datadog/profiling/ @DataDog/profiling-rb @DataDog/ruby-guild
lib/datadog/profiling.rb @DataDog/profiling-rb @DataDog/ruby-guild
lib/datadog/data_streams/ @DataDog/data-streams-monitoring @DataDog/ruby-guild
lib/datadog/data_streams.rb @DataDog/data-streams-monitoring @DataDog/ruby-guild
lib/datadog/open_feature/ @DataDog/feature-flagging-and-experimentation-sdk
lib/datadog/open_feature.rb @DataDog/feature-flagging-and-experimentation-sdk
ext/ @DataDog/profiling-rb @DataDog/ruby-guild

# RBS signatures
sig/datadog/appsec/ @DataDog/asm-ruby @DataDog/ruby-guild
sig/datadog/appsec.rbs @DataDog/asm-ruby @DataDog/ruby-guild
sig/datadog/tracing/ @DataDog/apm-idm-ruby @DataDog/apm-sdk-capabilities-ruby @DataDog/ruby-guild
sig/datadog/tracing.rbs @DataDog/apm-idm-ruby @DataDog/apm-sdk-capabilities-ruby @DataDog/ruby-guild
sig/datadog/opentelemetry/ @DataDog/apm-sdk-capabilities-ruby @DataDog/ruby-guild
sig/datadog/opentelemetry.rbs @DataDog/apm-sdk-capabilities-ruby @DataDog/ruby-guild
sig/datadog/profiling/ @DataDog/profiling-rb @DataDog/ruby-guild
sig/datadog/profiling.rbs @DataDog/profiling-rb @DataDog/ruby-guild
sig/datadog/data_streams/ @DataDog/data-streams-monitoring @DataDog/ruby-guild
sig/datadog/data_streams.rbs @DataDog/data-streams-monitoring @DataDog/ruby-guild
sig/datadog/open_feature/ @DataDog/feature-flagging-and-experimentation-sdk @DataDog/ruby-guild
sig/datadog/open_feature.rbs @DataDog/feature-flagging-and-experimentation-sdk @DataDog/ruby-guild

# Specs
spec/datadog/appsec/ @DataDog/asm-ruby
spec/datadog/tracing/ @DataDog/apm-idm-ruby @DataDog/apm-sdk-capabilities-ruby
spec/datadog/tracing_spec.rb @DataDog/apm-idm-ruby @DataDog/apm-sdk-capabilities-ruby
spec/datadog/opentelemetry/ @DataDog/apm-sdk-capabilities-ruby
spec/datadog/opentelemetry_spec.rb @DataDog/apm-sdk-capabilities-ruby
spec/datadog/profiling/ @DataDog/profiling-rb @DataDog/ruby-guild
spec/datadog/profiling_spec.rb @DataDog/profiling-rb @DataDog/ruby-guild
spec/datadog/data_streams/ @DataDog/data-streams-monitoring @DataDog/ruby-guild
spec/datadog/open_feature/ @DataDog/feature-flagging-and-experimentation-sdk

# Nix
*.nix @DataDog/nix-guild @DataDog/ruby-guild
flake.* @DataDog/nix-guild @DataDog/ruby-guild
