{
  "DEFAULT":
    [
      "tests/appsec/waf/test_miscs.py::Test_CorrectOptionProcessing",
      "tests/test_semantic_conventions.py::Test_Meta::test_meta_span_kind"
    ],
  "APPSEC_STANDALONE":
    [
      "tests/appsec/test_asm_standalone.py"
    ]
}