--markup markdown
--markup-provider redcarpet
--tag default:"Defaults to"
--readme docs/GettingStarted.md
--files docs/PublicApi.md
--template-path=yard/templates
--tag='public_api:Public API'
--hide-tag=public_api
-e ./yard/extensions.rb
-
docs/GettingStarted.md
LICENSE
