<div class="note public_api">
  This <%= object.type.to_s %> is part of the <%= link_file('PublicApi.md', 'Public API') %>.
  <% if [:module, :class].include?(object.type) %>
    All public attributes, constants, and methods defined in this <%= object.type.to_s %> are also part of the Public API.
  <% end %>
</div>
