name: Add milestone to merged pull requests

on: # yamllint disable-line rule:truthy
  pull_request:
    types: [closed]

jobs:
  add_milestone:
    permissions:
      contents: read
      issues: write
      pull-requests: write
    runs-on: ubuntu-22.04
    if: github.event.pull_request.merged == true && github.event.pull_request.milestone == null
    steps:
      - name: Checkout code
        # Checks out the branch that the pull request is merged into
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
          ref: ${{ github.event.pull_request.base.ref }}

      - name: Get major version from gemspec
        # Parse the gemspec and return the major version
        id: version
        run: |
          VERSION=$(ruby -e "puts Gem::Specification.load(Dir.glob('*.gemspec').first).version.to_s.split('.').first")
          echo "version=$VERSION" >> "$GITHUB_OUTPUT"

      - name: Get project milestones
        id: milestones
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          script: |
            const milestones = await github.rest.issues.listMilestones({
              owner: context.repo.owner,
              repo: context.repo.repo,
              state: 'open'
            })
            return milestones.data

      - name: Update Pull Request
        # Update the merged pull request with the milestone starts with the major version
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          script: |
            const milestones = ${{steps.milestones.outputs.result}}
            const majorVersion = ${{steps.version.outputs.version}}
            const milestone = milestones.find(m => m.title.startsWith(majorVersion))

            if (milestone) {
              await github.rest.issues.update({
                owner: context.repo.owner,
                repo: context.repo.repo,
                issue_number: ${{ github.event.pull_request.number }},
                milestone: milestone.number
              })
            }
