name: Build gem

on: # yamllint disable-line rule:truthy
  workflow_dispatch:
    inputs:
      push:
        description: Push gem
        required: true
        type: boolean
        default: true
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

# Default permissions for all jobs
permissions: {}

env:
  GEM_HOST: 'https://rubygems.pkg.github.com/DataDog'

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        type:
          - final
          - dev
    runs-on: ubuntu-22.04
    name: Build gem (${{ matrix.type }})
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: ruby/setup-ruby@09a7688d3b55cf0e976497ff046b70949eeaccfd # v1.288.0
        with:
          ruby-version: '3.2'
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically
      - name: Patch version
        if: ${{ matrix.type != 'final' }}
        env:
          GHA_RUN_ID: ${{ github.run_id }}
          GIT_REF: ${{ github.ref }}
          GIT_SHA: ${{ github.sha }}
        run: |
          .gitlab/patch_gem_version.sh gha "$GHA_RUN_ID" "$GIT_REF" "$GIT_SHA";

      - name: Patch gem host
        if: ${{ matrix.type != 'final' }}
        run: |
          # Patch in GEM_HOST
          sed datadog.gemspec -i -e "s,^\([\t ]*spec\.metadata\['allowed_push_host'\]\) *= *,\1 = \'${GEM_HOST}\' # ,"

          # Test result
          grep -e allowed_push_host datadog.gemspec
      - name: Build gem
        run: bundle exec rake build
      - name: List gem
        run: |
          find pkg
      - name: Upload artifact
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: 'datadog-gem-${{ matrix.type }}-gha${{ github.run_id }}-g${{ github.sha }}'
          path: 'pkg/*.gem'
  test:
    strategy:
      fail-fast: false
      matrix:
        type:
          - final
          - dev
    runs-on: ubuntu-22.04
    name: Test gem
    needs:
      - build
    steps:
      - name: Download artifact
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: 'datadog-gem-${{ matrix.type }}-gha${{ github.run_id }}-g${{ github.sha }}'
          path: 'pkg'
      - name: List gem
        run: |
          find pkg
      - uses: ruby/setup-ruby@09a7688d3b55cf0e976497ff046b70949eeaccfd # v1.288.0
        with:
          ruby-version: '3.2'
      - name: Install gem
        run: |
          gem install pkg/*.gem
  push:
    strategy:
      fail-fast: false
      matrix:
        type:
          - dev
    runs-on: ubuntu-22.04
    name: Push gem
    needs:
      - test
    if: ${{ inputs.push }}
    steps:
      - name: Download artifact
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: 'datadog-gem-${{ matrix.type }}-gha${{ github.run_id }}-g${{ github.sha }}'
          path: 'pkg'
      - name: List gem
        run: |
          find pkg
      - name: Set up GitHub Packages authentication
        run: |
          mkdir -p ~/.gem
          cat > ~/.gem/credentials <<'CREDENTIALS'
          ---
          :github: Bearer ${{ secrets.GITHUB_TOKEN }}
          CREDENTIALS
          chmod 0600 ~/.gem/credentials
      - name: Push gem
        run: |
          find pkg -name '*.gem' | while read -r gem; do
            echo "=== pushing '${gem}'"
            gem push --key github --host ${{ env.GEM_HOST }} "${gem}"
          done
      - name: Clean up credentials
        run: |
          rm -rvf ~/.gem/credentials

  complete:
    name: Build Gem (complete)
    runs-on: ubuntu-24.04
    needs:
      - test
    steps:
      - run: echo "DONE!"
