name: Create next milestone
on:
  milestone:
    types: [closed]

jobs:
  create_next_milestone:
    permissions:
      issues: write

    runs-on: ubuntu-latest
    steps:
      - name: Get next minor version
        id: semvers
        uses: WyriHaximus/github-action-next-semvers@b135abb108d66990a85e18623d906404f4350ce4
        with:
          version: ${{ github.event.milestone.title }}
      - name: Create next milestone
        uses: WyriHaximus/github-action-create-milestone@ab85332e3150ec018daf497a0f761fe69d52bc7d
        with:
          title: ${{ steps.semvers.outputs.minor }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
