name: Test Nix

on: # yamllint disable-line rule:truthy
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

# Default permissions for all jobs
permissions: {}

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        platform:
          - os: darwin
            cpu: arm64
            base: macos-15 # always arm64-darwin
          - os: linux
            cpu: x86_64
            base: ubuntu-24.04 # always x86_64-linux-gnu
          - os: linux
            cpu: aarch64
            base: ubuntu-24.04-arm # always aarch64-linux-gnu
        nix:
          - 24.05

    name: Test Nix (${{ matrix.platform.cpu }}-${{ matrix.platform.os }}, ${{ matrix.nix }})
    runs-on: ${{ matrix.platform.base }}

    permissions:
      contents: read
      id-token: write

    env:
      SKIP_SIMPLECOV: 1
      DD_INSTRUMENTATION_TELEMETRY_ENABLED: false
      DD_REMOTE_CONFIGURATION_ENABLED: true

    steps:
      - name: Check CPU arch
        run: |
          test "$(uname -m)" = "${{ matrix.platform.cpu }}"
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: DeterminateSystems/nix-installer-action@c5a866b6ab867e88becbed4467b93592bce69f8a # main
      - name: Print ruby version
        run: |
          nix develop --command which ruby
          nix develop --command ruby --version
      - name: Bundle install
        run: nix develop --command bundle install
      - name: Run spec:main
        run: nix develop --command bundle exec rake spec:main

  complete:
    name: Nix (complete)
    runs-on: ubuntu-24.04
    needs:
      - test
    steps:
      - run: echo "DONE!"
