name: Test for memory leaks

on: # yamllint disable-line rule:truthy
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

# Default permissions for all jobs
permissions: {}

jobs:
  test-memcheck:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: ruby/setup-ruby@80740b3b13bf9857e28854481ca95a84e78a2bdf # v1.284.0
        with:
          ruby-version: 3.4.1
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically
          bundler: latest
          cache-version: v2 # bump this to invalidate cache
      - run: sudo apt-get update && (sudo apt-get install -y valgrind || sleep 5 && sudo apt-get install -y valgrind) && valgrind --version
      - run: gem update --system 3.5.23 # TODO: This is a workaround for a buggy rubygems in 3.4.0-preview2; remove once stable version 3.4 is out
      - run: bundle exec rake compile spec:profiling:memcheck
  test-asan:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: ruby/setup-ruby@80740b3b13bf9857e28854481ca95a84e78a2bdf # v1.284.0
        with:
          ruby-version: asan-release
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically
          bundler: latest
          cache-version: v2 # bump this to invalidate cache
      - run: bundle exec rake spec:profiling:main
        env:
          RUBY_FREE_AT_EXIT: 1
          LSAN_OPTIONS: verbosity=0:log_threads=1:suppressions=${{ github.workspace }}/suppressions/lsan.supp
          ASAN_OPTIONS: detect_leaks=1

  complete:
    name: Test for memory leaks (complete)
    runs-on: ubuntu-24.04
    needs:
      - test-memcheck
      - test-asan
    steps:
      - run: echo "DONE!"
